In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
df = pd.read_csv('drug200.csv')

In [ ]:
df.head()

   Age  Sex  BP Cholesterol  Na_to_K  Drug
0   23    0   0        HIGH   25.355     0
1   47    1   1        HIGH   13.093     3
2   47    1   1        HIGH   10.114     3
3   28    0   2        HIGH    7.798     4
4   61    0   1        HIGH   18.043     0

In [ ]:
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [ ]:
unique_values = df['Drug'].unique()
value_counts = df['Drug'].value_counts()

print("Unique Values:", unique_values)
print("\nValue Counts:\n", value_counts)

Unique Values: [0 3 4 1 2]

Value Counts:
 0    91
4    54
1    23
3    16
2    16
Name: Drug, dtype: int64

In [ ]:
x = df.iloc[:,1:5].values
x

array([[0, 0, 'HIGH', 25.355],
       [1, 1, 'HIGH', 13.093],
       [1, 1, 'HIGH', 10.114],
       [0, 2, 'HIGH', 7.798],
       [0, 1, 'HIGH', 18.043],
       [0, 2, 'HIGH', 8.607],
       [0, 2, 'HIGH', 16.275],
       [1, 1, 'HIGH', 11.037],
       [1, 2, 'HIGH', 15.171],
       [1, 1, 'NORMAL', 19.368],
       [0, 1, 'HIGH', 11.767],
       [0, 0, 'NORMAL', 19.199],
       [1, 1, 'HIGH', 15.376],
       [0, 1, 'HIGH', 20.942],
       [0, 2, 'HIGH', 12.703],
       [0, 0, 'NORMAL', 15.516],
       [1, 1, 'NORMAL', 11.455],
       [1, 0, 'HIGH', 13.972],
       [1, 1, 'HIGH', 7.298],
       [0, 0, 'NORMAL', 25.974],
       [1, 1, 'NORMAL', 19.128],
       [1, 2, 'HIGH', 25.917],
       [1, 1, 'NORMAL', 30.568],
       [0, 1, 'HIGH', 15.036],
       [0, 1, 'HIGH', 33.486],
       [0, 0, 'NORMAL', 18.809],
       [1, 0, 'HIGH', 30.366],
       [0, 2, 'NORMAL', 9.381],
       [0, 1, 'NORMAL', 22.697],
       [1, 1, 'HIGH', 17.951],
       [0, 2, 'NORMAL', 8.75],
       [1, 0, 'HIGH', 9.567],
       [1, 1, 'NORMAL', 11.014],
       [0, 0, 'NORMAL', 31.876],
       [1, 2, 'HIGH', 14.133],
       [1, 2, 'NORMAL', 7.285],
       [1, 0, 'NORMAL', 9.445],
       [1, 1, 'NORMAL', 13.938],
       [0, 2, 'NORMAL', 9.709],
       [1, 2, 'HIGH', 9.084],
       [0, 2, 'HIGH', 19.221],
       [0, 0, 'NORMAL', 14.239],
       [1, 2, 'NORMAL', 15.79],
       [1, 2, 'HIGH', 12.26],
       [0, 2, 'NORMAL', 12.295],
       [0, 2, 'NORMAL', 8.107],
       [0, 0, 'HIGH', 13.091],
       [1, 1, 'HIGH', 10.291],
       [1, 2, 'HIGH', 31.686],
       [0, 1, 'HIGH', 19.796],
       [0, 0, 'HIGH', 19.416],
       [1, 2, 'NORMAL', 10.898],
       [1, 1, 'NORMAL', 27.183],
       [0, 0, 'NORMAL', 18.457],
       [0, 0, 'NORMAL', 10.189],
       [0, 1, 'HIGH', 14.16],
       [1, 0, 'NORMAL', 11.34],
       [1, 0, 'HIGH', 27.826],
       [1, 2, 'NORMAL', 10.091],
       [1, 0, 'HIGH', 18.703],
       [0, 1, 'NORMAL', 29.875],
       [1, 0, 'NORMAL', 9.475],
       [1, 1, 'NORMAL', 20.693],
       [1, 1, 'NORMAL', 8.37],
       [0, 0, 'HIGH', 13.303],
       [0, 2, 'NORMAL', 27.05],
       [1, 0, 'HIGH', 12.856],
       [1, 2, 'NORMAL', 10.832],
       [1, 2, 'HIGH', 24.658],
       [0, 0, 'NORMAL', 24.276],
       [1, 0, 'HIGH', 13.967],
       [0, 2, 'HIGH', 19.675],
       [0, 2, 'HIGH', 10.605],
       [0, 2, 'NORMAL', 22.905],
       [1, 0, 'NORMAL', 17.069],
       [1, 1, 'NORMAL', 20.909],
       [0, 0, 'HIGH', 11.198],
       [0, 0, 'NORMAL', 19.161],
       [0, 0, 'HIGH', 13.313],
       [0, 1, 'NORMAL', 10.84],
       [1, 0, 'HIGH', 13.934],
       [1, 2, 'HIGH', 7.761],
       [0, 1, 'HIGH', 9.712],
       [0, 0, 'NORMAL', 11.326],
       [0, 1, 'HIGH', 10.067],
       [1, 0, 'HIGH', 13.935],
       [0, 2, 'HIGH', 13.597],
       [1, 1, 'HIGH', 15.478],
       [0, 0, 'NORMAL', 23.091],
       [0, 2, 'NORMAL', 17.211],
       [1, 2, 'HIGH', 16.594],
       [1, 0, 'NORMAL', 15.156],
       [0, 0, 'HIGH', 29.45],
       [0, 1, 'NORMAL', 29.271],
       [1, 1, 'HIGH', 15.015],
       [1, 1, 'NORMAL', 11.424],
       [0, 1, 'HIGH', 38.247],
       [0, 0, 'HIGH', 25.395],
       [1, 0, 'NORMAL', 35.639],
       [0, 0, 'NORMAL', 16.725],
       [1, 0, 'NORMAL', 11.871],
       [0, 0, 'HIGH', 12.854],
       [0, 1, 'HIGH', 13.127],
       [1, 2, 'HIGH', 8.966],
       [1, 0, 'NORMAL', 28.294],
       [1, 1, 'NORMAL', 8.968],
       [1, 2, 'HIGH', 11.953],
       [1, 1, 'HIGH', 20.013],
       [1, 0, 'NORMAL', 9.677],
       [1, 2, 'HIGH', 16.85],
       [1, 0, 'HIGH', 7.49],
       [0, 2, 'NORMAL', 6.683],
       [1, 1, 'NORMAL', 9.17],
       [0, 1, 'NORMAL', 13.769],
       [0, 2, 'NORMAL', 9.281],
       [1, 0, 'HIGH', 18.295],
       [1, 2, 'NORMAL', 9.514],
       [0, 2, 'HIGH', 10.103],
       [0, 0, 'NORMAL', 10.292],
       [0, 0, 'HIGH', 25.475],
       [1, 2, 'HIGH', 27.064],
       [1, 0, 'NORMAL', 17.206],
       [1, 2, 'HIGH', 22.456],
       [0, 2, 'HIGH', 16.753],
       [0, 0, 'NORMAL', 12.495],
       [0, 0, 'NORMAL', 25.969],
       [1, 0, 'HIGH', 16.347],
       [1, 2, 'NORMAL', 7.845],
       [1, 1, 'NORMAL', 33.542],
       [0, 2, 'HIGH', 7.477],
       [0, 2, 'HIGH', 20.489],
       [1, 1, 'NORMAL', 32.922],
       [1, 1, 'NORMAL', 13.598],
       [1, 2, 'HIGH', 25.786],
       [0, 0, 'HIGH', 21.036],
       [1, 1, 'NORMAL', 11.939],
       [0, 0, 'HIGH', 10.977],
       [0, 0, 'HIGH', 12.894],
       [1, 0, 'NORMAL', 11.343],
       [0, 2, 'HIGH', 10.065],
       [1, 0, 'NORMAL', 6.269],
       [0, 1, 'NORMAL', 25.741],
       [1, 0, 'NORMAL', 8.621],
       [1, 0, 'NORMAL', 15.436],
       [1, 0, 'HIGH', 9.664],
       [1, 2, 'HIGH', 9.443],
       [0, 1, 'NORMAL', 12.006],
       [0, 0, 'NORMAL', 12.307],
       [0, 1, 'NORMAL', 7.34],
       [1, 1, 'HIGH', 8.151],
       [1, 0, 'NORMAL', 8.7],
       [1, 0, 'HIGH', 11.009],
       [1, 2, 'NORMAL', 7.261],
       [0, 1, 'NORMAL', 14.642],
       [1, 1, 'NORMAL', 16.724],
       [1, 1, 'HIGH', 10.537],
       [1, 0, 'NORMAL', 11.227],
       [1, 1, 'HIGH', 22.963],
       [0, 1, 'HIGH', 10.444],
       [0, 1, 'NORMAL', 12.923],
       [0, 2, 'HIGH', 10.443],
       [0, 0, 'NORMAL', 9.945],
       [1, 2, 'NORMAL', 12.859],
       [0, 0, 'NORMAL', 28.632],
       [1, 0, 'NORMAL', 19.007],
       [1, 1, 'HIGH', 18.295],
       [0, 1, 'HIGH', 26.645],
       [0, 2, 'HIGH', 14.216],
       [0, 1, 'NORMAL', 23.003],
       [0, 0, 'HIGH', 11.262],
       [0, 2, 'HIGH', 12.879],
       [1, 1, 'NORMAL', 10.017],
       [0, 2, 'NORMAL', 17.225],
       [0, 1, 'NORMAL', 18.739],
       [1, 0, 'NORMAL', 12.766],
       [0, 0, 'HIGH', 18.348],
       [1, 0, 'NORMAL', 10.446],
       [1, 2, 'HIGH', 19.011],
       [1, 2, 'HIGH', 15.969],
       [0, 2, 'HIGH', 15.891],
       [0, 0, 'NORMAL', 22.818],
       [0, 2, 'HIGH', 13.884],
       [0, 1, 'NORMAL', 11.686],
       [0, 0, 'NORMAL', 15.49],
       [0, 0, 'HIGH', 37.188],
       [0, 2, 'NORMAL', 25.893],
       [1, 0, 'HIGH', 9.849],
       [1, 0, 'HIGH', 10.403],
       [1, 0, 'NORMAL', 34.997],
       [1, 0, 'NORMAL', 20.932],
       [1, 0, 'HIGH', 18.991],
       [1, 0, 'HIGH', 8.011],
       [1, 1, 'HIGH', 16.31],
       [1, 1, 'HIGH', 6.769],
       [0, 0, 'HIGH', 34.686],
       [0, 1, 'HIGH', 11.567],
       [1, 1, 'HIGH', 12.006],
       [1, 2, 'HIGH', 9.894],
       [1, 2, 'NORMAL', 14.02],
       [0, 1, 'NORMAL', 11.349]], dtype=object)

In [ ]:
y = pd.get_dummies(df.iloc[:,5:]).values
y

array([[0],
       [3],
       [3],
       [4],
       [0],
       [4],
       [0],
       [3],
       [0],
       [0],
       [3],
       [0],
       [0],
       [0],
       [4],
       [0],
       [4],
       [1],
       [3],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [4],
       [0],
       [0],
       [4],
       [2],
       [4],
       [0],
       [4],
       [4],
       [1],
       [4],
       [4],
       [4],
       [0],
       [2],
       [0],
       [4],
       [4],
       [4],
       [1],
       [3],
       [0],
       [0],
       [0],
       [4],
       [0],
       [0],
       [2],
       [3],
       [2],
       [0],
       [4],
       [0],
       [0],
       [1],
       [0],
       [4],
       [2],
       [0],
       [1],
       [4],
       [0],
       [0],
       [2],
       [0],
       [4],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [4],
       [2],
       [4],
       [3],
       [1],
       [3],
       [2],
       [4],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [4],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [3],
       [4],
       [0],
       [4],
       [4],
       [0],
       [2],
       [0],
       [1],
       [4],
       [4],
       [4],
       [4],
       [0],
       [4],
       [4],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [2],
       [0],
       [0],
       [4],
       [0],
       [4],
       [0],
       [0],
       [4],
       [0],
       [0],
       [4],
       [2],
       [1],
       [2],
       [4],
       [1],
       [0],
       [2],
       [0],
       [1],
       [4],
       [4],
       [1],
       [4],
       [3],
       [1],
       [2],
       [4],
       [4],
       [0],
       [3],
       [1],
       [0],
       [3],
       [4],
       [4],
       [2],
       [4],
       [0],
       [0],
       [0],
       [0],
       [4],
       [0],
       [1],
       [4],
       [4],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [4],
       [4],
       [0],
       [0],
       [0],
       [2],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [3],
       [0],
       [3],
       [3],
       [4],
       [4],
       [4]])

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=21)
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

((160, 4), (40, 4), (160, 1), (40, 1))

In [ ]:
model = Sequential()
model.add(Dense(8,input_dim=4,activation='relu'))
model.add(Dense(26,activation='relu'))
model.add(Dense(3,activation='softmax'))
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 8)                 40

 dense_6 (Dense)             (None, 26)                234

 dense_7 (Dense)             (None, 3)                 81

=================================================================
Total params: 355
Trainable params: 355
Non-trainable params: 0
_________________________________________________________________

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=21)
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape
X_new = np.random.rand(5,4)
y_pred = model.predict(X_new)
print(y_pred)

1/1 [==============================] - 0s 127ms/step
[[0.35417673 0.3806729  0.2651503 ]
 [0.33706933 0.4469745  0.2159562 ]
 [0.33999202 0.382349   0.27765894]
 [0.35866296 0.35300976 0.28832728]
 [0.33034822 0.4240727  0.24557902]]